* {
    box-sizing: border-box;
   
   
  }
  


body {
    
   
    /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    background-image: url("https://wallpapertag.com/wallpaper/middle/f/3/4/278051-full-size-texture-background-2560x1600-photo.jpg#.WyR7RqIB3TQ.link");
    font-family:Gravitas+One;
    font-size: 30px;
    line-height: 30px;
    background-size: auto;
    height: 100%; 
    text-align: center;
}

h1 {
font-family: creepster;
font-size: 100px;

}

h2 {
font-family: creepster;
font-size:80px;
}

#wordTxt {
font-size:70px;
margin-bottom: 25px;

}