* {
    box-sizing: border-box;
   
   
  }
  


body {
    
   
    /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    background-image: url("https://wallpapertag.com/wallpaper/middle/f/3/4/278051-full-size-texture-background-2560x1600-photo.jpg#.WyR7RqIB3TQ.link");
    font-family:Gravitas+One;
    font-size: 30px;
    line-height: 30px;
    background-size: auto;
    height: 100%; 
    text-align: center; 
    color: cornsilk;
}

h1 {
font-family: creepster;
font-size: 100px;

}

h2 {
font-family: creepster;
font-size:80px;
}

/*#myWins,
#winTxt,
#myLosses,
#lossesTxt,
#myLastWord,
#lastWordTxt 
.container*/ 

#wins {    
position: absolute;
top:200px;    
text-align:left;
font-size:20px;
height: 100px;
width: 100px;
}

#losses {    
    position: absolute;  
    top: 300px;  
    text-align:left;
    font-size:20px;
    height: 100px;
    width: 100px;
    }

#lastWord {    
    position: absolute;  
    top: 400px;  
    text-align:left;
    font-size:20px;
    height: 100px;
    width: 100px;
        }    

#wordTxt {
font-size:70px;
margin-bottom: 25px;
}

#wrongLetter {
margin-top:30px;    
}
@media screen and (max-width: 980px) {
  
    h1,
    h2 {
     font-size: 80px;
    } 
}
  @media screen and (max-width: 768px) {
    
    h1,
    h2 {
        font-size: 60px;
       } 
    }
  @media screen and (max-width: 640px) {
    
    h1,
    h2 {
        font-size: 60px;
       } 
    }
